body {
    background-color: #f8f9fa;
}

.container-fluid {
    max-width: 100%;
}


.card {
    border-radius: 8px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-primary,
.btn-success {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.status-bar {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #f8f9fa; /* Example background color */
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Optional shadow */
    overflow-y: auto; /* Add scroll if content overflows */
}
